body{
display: flex;
flex-direction: column;
margin: 0px;
justify-content: center;

}
.title{
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
margin-bottom: 100px;
}

header{
font-weight: bold;
font-size: 70px;
}

ul{
display: flex;
gap: 15px;
list-style: none;
font-weight: bold;
}
.box1 {
background-color: rgb(233, 228, 228);


    
}

.box1middle{
display: flex;
justify-content: center;
gap: 30px;
align-items: center;
flex: 1;
margin-bottom: 200px;

}

.box1middleleft{
display: flex;
flex-direction: column;
max-width: 600px;
margin-top: 0px;
}
.box1middleleft,
button{
display: flex;
justify-content: center;
font-weight: bold;
font-size: large;

}


.box1middleright{


}

img {
max-width: 100%;
max-height: 100%;




}